<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823898404946-kqrbjclfagvmv9i81g893073d5mnkpta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823898404946-kqrbjclfagvmv9i81g893073d5mnkpta</string>
	<key>API_KEY</key>
	<string>AIzaSyAUlKZIdUtbQUIKq3OLY-olspSQAnUXV30</string>
	<key>GCM_SENDER_ID</key>
	<string>823898404946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.birthregistration</string>
	<key>PROJECT_ID</key>
	<string>birthregistration-b7691</string>
	<key>STORAGE_BUCKET</key>
	<string>birthregistration-b7691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823898404946:ios:c75c152871dfd35bbc078b</string>
</dict>
</plist>